
.nav {
    position: fixed;
  }

.body {
    overflow: auto;
  }

.row {
    margin-right: 0px;
    margin-left: 0px;
}

#about-body-row-bottom {
    padding: 4rem;
}

#about-img {
    width: 100%;
    object-fit: cover;
}

.sf-container {
    padding-right: 1rem;
    padding-left: 1rem;
    padding-bottom: 0.2rem;
}

.sticky-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #3EC1D3;
    text-align: right;
    padding: 0px;
  }
  
@media (min-width: 576px) {  

    #about-body-row-top {
        padding: 0rem;
    }
}

@media (min-width: 768px) {  

    #about-body-row-top {
        padding: 0rem;
    }
}

@media (min-width: 992px) { 

    #about-body-row-top {
        padding: 1rem;
    }
}

@media (min-width: 1200px) {  

    #about-body-row-top {
        padding: 1rem;
    }

}
    