
.nav {
    position: fixed;
  }

.body {
    overflow: auto;
  }

.row {
    margin-right: 0px;
    margin-left: 0px;
}

#about-list-top,
#title-list-group-item {
    border-top-width: 1px;
    border-bottom-width: 1px;
}

#list-group-item-2,
#list-group-item-3,
#list-group-item-4 {
    border-bottom-width: 0px;

}
#gen-card-title {
    margin-bottom: 0rem;
}

#passwordArea,
#about-img {
    width: 100%;
    object-fit: cover;
}

#small-body-text {
    padding: 0.75rem;
}

#about-card-list-subtxt {
    margin-bottom: 0rem;
    padding-inline-start: 1.2rem;
}

#gen-list-title {
    margin-bottom: 0px;
}

#length-textbox,
#list-title {
    text-align: left;
}

#about-list-group,
#about-link-row,
#about-timestamp-lbl {
    text-align: right;
}

#length-textbox{
    display: inline-block;
    width: 60%;
}

.list-chkbox-row {
    text-align: right;
}

.sf-container {
    padding-right: 1rem;
    padding-left: 1rem;
    padding-bottom: 0.2rem;
}

.sticky-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #3EC1D3;
    text-align: right;
    padding: 0px;
  }
  
  
@media (min-width: 320px) {  

    #about-body-row-top {
        padding: 0.5rem;
    }
    #about-body-row-bottom {
        padding: 0.5rem;
    }
}

@media (min-width: 576px) {  

    #about-body-row-top {
        padding: 0.5rem;
    }
    #about-body-row-bottom {
        padding: 4rem;
    }
}

@media (min-width: 768px) {  

    #about-body-row-top {
        padding: 0.5rem;
    }
    #about-body-row-bottom {
        padding: 4rem;
    }
}

@media (min-width: 992px) { 

    #about-body-row-top {
        padding: 1rem;
    }
    #about-body-row-bottom {
        padding: 4rem;
    }
}

@media (min-width: 1200px) {  

    #about-body-row-top {
        padding: 1rem;
    }
    #about-body-row-bottom {
        padding: 4rem;
    }
}
    